@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  --dark-green: #293529;
  --olive-green: #7e7a39;
  --dark-taupe: #584c31;
  --seasalt: #f8fafc;
  --grey-green: #637062;
  --warm-beige: #a6976c;
  --salviagrey: #a6aea0;
  --lavendel-blue: #babdae;
  --grey: #96998f;
  --middle-green: #437c59;
}

body {
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4 {
  font-family: 'Playfair Display', serif;
}

/* Header ----------------------> */

header {
  padding: 15px 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  background-color: hsl(210, 40%, 98%);
}

ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: center;
}

#logo {
  display: flex;
  align-items: center;
  gap: 3px;
  color: var(--dark-green);
  align-self: center;
  letter-spacing: 1.5px;
  text-decoration: none;
}

nav a {
  text-decoration: none;
  color: var(--dark-green);
  font-weight: 700;
}
nav a:hover {
  color: var(--olive-green);
}
nav a:active {
  color: var(--dark-taupe);
}
nav a:focus {
  color: var(--dark-taupe);
}
nav a:focus-visible {
  color: var(--middle-green);
}

/* MAIN ----------------------> */

main {
  flex: 1 0 auto;
}

#hero {
  position: relative;
}

.hero-text {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--dark-green);
  text-shadow: 2px 2px 5px var(--seasalt), 2px 2px 5px var(--seasalt),
    2px 4px 7px var(--seasalt), 0px 4px 10px var(--seasalt);
}

.hero-text h1 {
  font-size: 200%;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
}

.hero-text p {
  font-weight: 300;
}

.image-container {
  height: 70vh;
}

.hero-image {
  width: 100%;
  height: 100%;
}

.hero-text button {
  background-color: var(--middle-green);
  letter-spacing: 1.5px;
  color: var(--seasalt);
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 900;
  cursor: pointer;
  box-shadow: 1px 1px 5px var(--seasalt), 1px 3px 8px var(--seasalt);
  margin-top: 30px;
}

/* Footer ---------------------> */

footer {
}

/* Media Min width 768px */

@media screen and (min-width: 768px) {
  /* Header */
  header {
    flex-direction: row;
    justify-content: space-between;
  }
  nav {
    gap: 20px;
  }
  #logo {
    font-size: 1.2rem;
  }
}
