@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  --dark-green: #293529;
  --olive-green: #7e7a39;
  --dark-taupe: #584c31;
  --seasalt: #f8fafc;
  --grey-green: #637062;
  --warm-beige: #a6976c;
  --salviagrey: #a6aea0;
  --lavendel-blue: #babdae;
  --grey: #96998f;
  --middle-green: #437c59;
}

body {
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4 {
  font-family: 'Playfair Display', serif;
}

/* Header ----------------------> */

header {
  padding: 15px 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  background-color: hsl(210, 40%, 98%);
}

ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: center;
}

#logo {
  display: flex;
  align-items: center;
  gap: 3px;
  color: var(--dark-green);
  align-self: center;
  letter-spacing: 1.5px;
  text-decoration: none;
}

nav a {
  text-decoration: none;
  color: var(--dark-green);
  font-weight: 700;
}
nav a:hover {
  color: var(--olive-green);
}
nav a:active {
  color: var(--dark-taupe);
}

/* MAIN ----------------------> */

main {
  flex: 1 0 auto;
}

/* Footer ---------------------> */

footer {
}
